/**
 * 顶部菜单
 * 跨webview需要手动指定位置
 */

#topPopover {
	position: fixed;
	top: 16px;
	right: 6px;
}

#topPopover .mui-popover-arrow {
	left: auto;
	right: 6px;
}

.mui-popover {
	height: 300px;
}

.cx_top_nav{
	margin-top: 0 !important;
}

/**
 * 侧滑菜单
 */

.mui-off-canvas-left {
	color: #fff;
}

.title {
	margin: 35px 15px 10px;
}

.title+.content {
	margin: 10px 15px 35px;
	color: #bbb;
	text-indent: 1em;
	font-size: 14px;
	line-height: 24px;
}

/**
 * 4-1
 */

.mui-page-content {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: #efeff4;
}

.mui-table-view {
	margin-top: 20px;
}

.mui-table-view span.mui-pull-right {
	color: #999;
}

.mui-table-view-divider {
	background-color: #efeff4;
	font-size: 14px;
}

.mui-table-view-divider:before,
.mui-table-view-divider:after {
	height: 0;
}

.head {
	height: 40px;
}

#head {
	line-height: 40px;
}

.head-img {
	width: 40px;
	height: 40px;
}

#head-img1 {
	position: absolute;
	bottom: 10px;
	right: 40px;
	width: 40px;
	height: 40px;
}

.update {
	font-style: normal;
	color: #999999;
	margin-right: -25px;
	font-size: 15px
}

